.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    width: 720;
    height: 500px;
    border-radius: 10px;
    @include respond(phone) {
      max-height: 200px;
      width: 80%;
    }
    @include respond(tab-land) {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  @include respond(phone) {
    font-size: 1rem;
    font-weight: normal;
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  h2 {
    padding: 30px;
  }
}

//align-items: center;
