.focus {
  transition: transform 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   transition: all 0.2s ease-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
  0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  display: flex ;
  width: 100%;
  border: none;
  margin-bottom: 40px;

}
.cardDeck {
  justify-content: space-evenly;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 2em;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-style {
  width: 7rem;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  @include respond(phone) {
    width: 4rem;
  }
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}

.card-text {
  align-items: flex-start;
  margin: 20px;
}
.button {
  position: sticky;
}

.title {
  margin: 0px;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.skills__introButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

      @include respond(phone) {
        align-items: center;
        flex-direction: column;
      }
}

.skills__display{
  width: 100%;
  justify-content: space-evenly;
}
.progress {
  width: 100%;
  margin-bottom: 20px;
}